body {
    padding: 20px 0
}

.span9.loading {
    background: url("/static/images/throbber.gif") no-repeat 50% 0;
    height: 50px;
}

.image {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 128px;
    height: 128px;
}

.image * {
    vertical-align: middle;
}

.image span {
    display: inline-block;
    height: 100%;
    width: 1px;
}