<fieldset>
    <legend>Change the article contents</legend>
    <form class="well">
        <label>Headline</label>
        <input type="text" class="span4" name="headline" value="This is a client-side rendered headline">
        <label>
            Body
            <textarea class="span4" name="bodyText" rows="5">This is a client-side rendered body</textarea>
        </label>
        <button type="submit" class="btn">Submit</button>
    </form>
</fieldset>