<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <script src="/static/javascripts/lib/hogan-2.0.0.min.js"></script>
</head>
<body>
    <script>
        var start = new Date().getTime();
    </script>
    <script type="text/template" id="table">
        {{{table}}}
    </script>
    <script type="text/template" id="newsItems">
        {{{newsItems}}}
    </script>
    <script type="text/template" id="newsItem">
        {{{newsItem}}}
    </script>
    <script type="text/template" id="footer">
        {{{footer}}}
    </script>
    <script type="text/javascript">
        $(function() {
            var table = Hogan.compile($.trim($("#table").text())),
                newsItems = Hogan.compile($.trim($("#newsItems").text())),
                newsItem = Hogan.compile($.trim($("#newsItem").text())),
                footer = Hogan.compile($.trim($("#footer").text())),
                data = {{{data}}},
                $body = $("body");

                $body.append(table.render(data, {
                    newsItems: newsItems,
                    newsItem: newsItem,
                    footer: footer,
                    data: data
                }));
            console.log(new Date().getTime() - start);
        });
    </script>
</body>
</html>
