<!DOCTYPE html>
<html>
<head>
	{{>head}}
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            {{>leftnav}}
            {{#selectedFollower}}
                <div class="span9">
                {{>selectedFollower}}
                </div>
            {{/selectedFollower}}
        </div>
    </div>
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/template-2.0.0.min.js"></script>
    <script src="/templates.js"></script>
    <script src="/static/js/lib/underscore.js"></script>
    <script src="/static/js/lib/backbone.js"></script>
    <script src="/static/js/TweeterRouter.js"></script>
    <script src="/static/js/models/TweeterAppModel.js"></script>
    <script src="/static/js/models/TweeterModel.js"></script>
    <script src="/static/js/models/TweeterCollection.js"></script>
    <script src="/static/js/models/TweetCollection.js"></script>
    <script src="/static/js/views/TweeterView.js"></script>
    <script src="/static/js/views/TweeterNavView.js"></script>
    <script src="/static/js/views/TitleView.js"></script>
    <script src="/static/js/FollowersApp.js"></script>
    <script>
        var followers = {{{followersJSON}}};
    </script>
</body>
</html>
